.mapPreview{
  background-image: url('../assets/dummyMap.png');
  height: 20vh;
  min-height: 200px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  margin-bottom: 10px;
}


.locationSelected h5{
  margin:5px 0 15px 0;
  font-weight: 400;
}

.dropzone {
    outline: 2px dashed #6c757d;
    outline-offset: -13px;
    border: 0;
    border-radius: 5px;
    background: rgba(52,61,77,.1);
    margin: 2vh 2vw;
    padding:;
    height: 35vh;
    width: 100%;
    transition: background .15s ease-in-out,outline-offset .15s ease-in-out;
}

.dropzone:hover {
    background: rgba(52,61,77,.2);
    outline-offset: -20px;
}


.upload.icon{
  font-size: 5em;
}
