body{
  font-family: 'Roboto', sans-serif;
}
/* Global Style */
.outmostBox{
    /* height: 97vh; */
    margin-top: 3vh;
    /* border: 0.5px solid gray; */
}

.textCenter{
  text-align: center;
}

.flexColCenterIt{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.btns .btn{
  width: 70%;
  margin:8px 0;
}

.btns hr{
  border-top: 1px solid #6c757db8;
  width: 75%;
}

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) { ... }

/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
  .btns .btn{
    width:95%;
  }
  .btns hr{
    width:95%;
  }
}

/* Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) { ... }

/* Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) { ... }
